<mat-nav-list>
    <a
        mat-list-item
        routerLink="home"
        routerLinkActive
        #inicioLink="routerLinkActive"
        [activated]="inicioLink.isActive"
        routerLinkActive="active"
        >Home</a
    >
    <a
        mat-list-item
        routerLink="students"
        routerLinkActive
        #studentsLink="routerLinkActive"
        [activated]="studentsLink.isActive"
        >Estudiantes</a
    >

    <a mat-list-item (click)="logout()" routerLinkActive="active"
        >Close session</a
    >
</mat-nav-list>
